main{
  background-color: var(--color-tertiary);
}
.card {
  background-color: white;
  color: #ffffff;
  box-shadow: 0 0.5rem 0px var(--color-primary);
  transition: transform 0.3s ease-in-out;
  margin: 10px; /* Sombra mais escura no hover */
}

.card:hover {
  transform: translateY(-5px);
}
.card-header {
  background-color: var(--color-primary);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.zero {
  grid-column: 1/3;
}

.fa-calculator {
  color: white;
}
.fa-star {
  color: white;
}

.btn-dark {
  background-color: var(--color-primary);
}

.btn-warning {
  background-color: var(--color-secondary);
}
.btn-danger {
  background-color: var(--color-tertiary);
}
.theme {
  background-color: var(--color-primary);
}
.badge {
  background-color: var(--color-tertiary);
}
