<main>
  <section>
    <div id="calculator">
      <input type="text" id="display"/>
      <br />
      <button class="btn btn-outline-secondary">AC</button>
      <button class="btn btn-outline-secondary">+/-</button>
      <button class="btn btn-outline-secondary">%</button>
      <button class="btn btn-outline-secondary">÷</button>
      <br />

      <button class="btn btn-outline-secondary">7</button>
      <button class="btn btn-outline-secondary">8</button>
      <button class="btn btn-outline-secondary">9</button>
      <button class="btn btn-outline-secondary">x</button>
      <br />

      <button class="btn btn-outline-secondary">4</button>
      <button class="btn btn-outline-secondary">5</button>
      <button class="btn btn-outline-secondary">6</button>
      <button class="btn btn-outline-secondary">-</button>
      <br />

      <button class="btn btn-outline-secondary">1</button>
      <button class="btn btn-outline-secondary">2</button>
      <button class="btn btn-outline-secondary">3</button>
      <button class="btn btn-outline-secondary">+</button>
      <br />

      <button class="btn btn-outline-secondary">0</button>
      <button class="btn btn-outline-secondary">.</button>
      <button class="btn btn-outline-secondary">=</button>
      <br />
    </div>
  </section>
</main>
