/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

:root {
    /* Default Theme */
    --color-primary: #262626;
    --color-secondary: #ee9b00;
    --color-tertiary: #DC4C64;
}

.redder {
  --color-primary: #9b2226;
  --color-secondary: #ee9b00;
  --color-tertiary: #262626;
}

.purpler {
  --color-primary: #6a4c93;
  --color-secondary: #ff595e;
  --color-tertiary: #a4133c;
}

.dark {
  --color-primary: #262626;
  --color-secondary: #ee9b00;
  --color-tertiary: #dc4c64;
}
